<%- include("includes/head.ejs") %>
<body>
    <h2>
        This page is belongs to @<%= data.name %>
    </h2>
    <button>Follow</button>
    <button>message</button>
    <p>followers : <%= data.followers %> &nbsp; &nbsp; following : <%= data.following %> </p>
    <hr>
  
     <%for(let post of data.posts){  %>

        <img src="<%= post.image %>" alt="some image">
        <p>likes : <%= post.likes %> &nbsp; &nbsp; comments : <%= post.comments %> </p>
    
     <% } %> 

     <%- include("includes/footer.ejs") %>
</body>
<script src="/js/app.js"></script>
</html>

